@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

body {
    font-family: 'Asap', sans-serif;
    margin-top: 50px;
    text-align: center;
    background-color: black;
    background-image: url("Other/Background_Pic.png");
    background-repeat: repeat-y;
    animation: bgcolor 4s infinite;
}

@keyframes bgcolor {
    0% {background-color: black;}
    50% {background-color: #336600;}
    100% {background-color: black;}
}

h1 {
    color: brown;
    animation: hcolor 4s infinite;
}

@keyframes hcolor {
    0% {color: brown}
    50% {color: black;}
    100% {color: brown;}
}

p {
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.previous {
    background-color: #666699;
    color: white;
}
  
.next {
    background-color: #666699;
    color: white;
}

.circle {
    border-radius: 50%;
}